<% if !@songs %>
<h3> Sorry nothing found </h3>
<% else %>
<table class="table table-striped table-hover ">
<thead>
  <tr>
    <th>#</th>
    <th>Song</th>
    <th>Artist</th>
    <th>Album</th>
  </tr>
</thead>
<tbody>
  <% @songs.each_with_index do |song, index| %>
  <tr>
    <td></td>
    <td> <%= link_to(song) do  %><%= song.name %> <% end %></td>
    <td><%= link_to(song.artist) do  %><%= song.artist.name %><% end %></td>
    <td><%= link_to(song.album) do  %><%= song.album.name %><% end %></td>
  </tr>
  <% end %>
</tbody>
</table>
</div>
<% end %>
